body{ 
    background-color: rgb(17, 116, 116);
}
h1{
    margin-left: 42%;
}
canvas {
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    background-color: darkgoldenrod;
    margin-left: 20%;
    }
pre {
    border: 1px solid black;
    display: inline-block;
    width: 400px;
    height: 500px;
    background-color: #24759b;
    }